<!DOCTYPE html>
<html>
  <head>
    <title>YES THIS HAPPENS</title>
  </head>

  <body>
    <div class = "mainheader">
      <a href="/" class = "header"><h1>YES THIS HAPPENS</h1></a>
    </div>

      {% if current_user %}
      <nav>
        <a href="/archive">ARCHIVE</a>
        |
        <a href="/new_post">NEW POST</a>
        |
        <a href="/resources">RESOURCES</a>
        |
        <a href="/about">ABOUT</a>
        |
        <a href="{{logout_url}}" class="log">LOGOUT</a>
      </nav>
      {% else %}
        <nav>
          <a href="/archive">ARCHIVE</a>
          |
          <a href="/resources">RESOURCES</a>
          |
          <a href="/about">ABOUT</a>
          |
          <a href="{{login_url}}" class="log">LOGIN</a>
        </nav>
      {% endif %}

      <h2>POSTS</h2>
      {% for post in posts %}
        <a href="/post?key={{post.key.urlsafe()}}">
          <p>Title: {{post.title}}</p>
          <p>{{post.text}}</p>
          <p>Relates: {{post.like_count}}</p>
          <p>seen by: {{post.view_count}}</p>
          <p>posted by: {{post.user_email}}</p>
        </a>
      {% endfor %}

  </body>
</html>
