<!DOCTYPE html>
<html>
  <head>
    <title>YES THIS HAPPENS</title>
  </head>

  <body>
    <div class = "mainheader">
      <a href="/" class = "header"><h2>YES THIS HAPPENS</h2></a>
    </div>

    {% if current_user %}
      <form action = "/like" method="post">
        <input type = "hidden" name = "post_key" value = "{{post.key.urlsafe()}}">
          <button type = "submit" class = "like">
            <img src = "/pictures/frog.png" alt = "Dank" style = "width:60px;height:60px;">
          </button>
        </form>
      <form action = "/dislike" method="post">
        <input type = "hidden" name = "post_key" value = "{{post.key.urlsafe()}}">
          <button type = "submit" class = "like">
            <img src = "/pictures/AngryPepe.png" alt = "Dank" style = "width:60px;height:60px;">
          </button>
      </form>
    {% endif %}

    <p>Likes: {{post.like_count}}</p>
    <p>Dislikes: {{post.dislike_count}}</p>
    <p>seen by: {{post.view_count}}</p>
    <p>posted by: {{post.user}}</p>

  </body>
</html>
