<!DOCTYPE html>
<html>
  <head>
    <title>YES THIS HAPPENS</title>
  </head>

  <body>
    <div class = "mainheader">
      <a href="/" class = "header"><h2>YES THIS HAPPENS</h2></a>
    </div>

    <p>Title: {{post.title}}</p>
    <p>User: {{post.user_email}}</p>
    <p>Relates: {{post.relate_count}}</p>
    <p>seen by: {{post.view_count}}</p>
    <p>posted by: {{post.user_email}}</p>

    {% if current_user %}
      <form action = "/relate" method = "post">
        <button type = "button" value = "relate">relate</button>
      </form>
    {% endif %}
  </body>
</html>
